flows.json
[{"id":"cb5c9500.a8ca1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54fc2f48.c52c78","type":"telegram receiver","z":"cb5c9500.a8ca1","name":"","bot":"4998e550.27bf2c","saveDataDir":"","x":220,"y":120,"wires":[["43c98ad5.f519b4"],[]]},{"id":"1e88ea59.69f8a6","type":"telegram sender","z":"cb5c9500.a8ca1","name":"","bot":"4998e550.27bf2c","x":800,"y":140,"wires":[[]]},{"id":"b547dc63.18369","type":"watson-conversation-v1","z":"cb5c9500.a8ca1","name":"Padilha","workspaceid":"d7335200-3e43-4319-8046-f46ab5ad2889","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":460,"y":240,"wires":[["3601bc98.df76ac"]]},{"id":"43c98ad5.f519b4","type":"function","z":"cb5c9500.a8ca1","name":"f1","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["b547dc63.18369"]]},{"id":"3601bc98.df76ac","type":"function","z":"cb5c9500.a8ca1","name":"f2","func":"msg.payload = {\n  chatId: msg.chatId,\n  type: \"message\",\n  content: msg.payload.output.text[0]\n};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["1e88ea59.69f8a6"]]},{"id":"4998e550.27bf2c","type":"telegram bot","z":"","botname":"Padilha_oficial_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]